protocol = "newport-smc100"
doc = """
Daemon for the Newport smc100-[CC|PP] controllers
"""
traits = ["has-transformed-position", "has-limits", "is-homeable", "uses-uart", "is-daemon"]
hardware = ["newport:mfa-cc", "newport:smc100cc", "newport:smc100pp"]

[links]
source = "https://github.com/yaq-project/yaqd-newport/"
bugtracker = "https://github.com/yaq-project/yaqd-newport/issues"
manufacturer = "https://www.newport.com/f/smc100-single-axis-dc-or-stepper-motion-controller"

[config]
axis.type = "int"
axis.default = 1
axis.doc = "Allows for daisy chained controllers"
units.type = "string"
units.default = "mm"
units.doc = "Units for the motor attatched to the controller"
make.default = "newport"
model.default = "SMC100"
baud_rate.default = 57600

[state]
status.type = "string"
status.doc = "Device status, translated into text from the Tell Status (TS) command."
status.default = ""
error_code.type = "string"
error_code.doc = "Four digit code describing error conditions in the Tell Status (TS) command."
error_code.default = "0000"

[messages]
clear_disable.request = []

[installation]
PyPI = "https://pypi.org/project/yaqd-newport"
conda-forge = "https://anaconda.org/conda-forge/yaqd-newport"

