name: run entry points

on:
  pull_request:
    types: [opened, reopened]
  push:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip!=22.1.*
        python -m pip install --upgrade wheel setuptools
        python -m pip install --upgrade .
    - name: Run entry points
      run: |
        yaqd-newport-conex-agp --version
        yaqd-newport-conex-agp --help
        yaqd-newport-smc100 --version
        yaqd-newport-smc100 --help
